# Database Connection (Neon Postgres)
DATABASE_URL="postgresql://user:password@host/neondb?sslmode=require"

# API Port
PORT=5000

# Optional: RevenueCat API Key (Sandbox)
# VITE_REVENUECAT_KEY="test_qZmZRkJwUOnTcrkesCGjMAwZxzq"
